html {
	height: 100%;
	background-color: #333;
	color: #FFF;
	font-family: sans-serif;
	overflow-x: hidden;
 	margin-right: calc(-1 * (100vw - 100%));
 	opacity: 1;
}

body {
	margin: auto;
	width: 1000px;
	min-height: 100vh;
	padding: 0px 30px 0px 30px;
}

hr {
	background-color: #555;
	margin: 20px 50px 20px 50px;
	height: 1px;
	border: none;
}

#header {
	padding: 40px 0px 20px 0px;
	line-height: 40px;
	margin: auto;
}

#footer {
	color: #aaa;
	margin-bottom: 150px;
}

#footer a {
	color: #ddd;
}

#footer a::after {
	display: none;
}

#footer-info {
	display: inline-block;
	float: left;
}

#footer-sponsor {
	display: inline-block;
	float: right;
}

#footer-sponsor img {
	width: 300px;
}

#main {
	width: 100%;
	min-height: calc(100vh - 327px);
}

.theme-color, a {
	color: #48ddbc;
}

a {
	text-decoration: none;
	transition: color 0.25s, text-shadow 0.25s;
}

a:hover {
	color: #84ffff;
}

a::after {
	content: "";
	background-color: #666;
	-webkit-mask-image: url("img/external.svg");
	mask-image: url("img/external.svg");
	display: inline-block;
	transform: translate(4px, -4px);
	width: 10px;
	height: 10px;
}

#header-branding {
	display: inline-block;
}

#header-icon {
	display: inline-block;
	vertical-align: top;
}

#header-icon img {
	width: 40px;
	height: 40px;
}

#header-text {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-top: -10px;
}

#header-title {
	display: block;
	height: 20px;
	font-weight: bold;
}

#header-subtitle {
	color: #aaa;
}

#header-navbar {
	display: inline-block;
	float: right;
	display: block;
}

#header-navbar a {
	color: white;
}

#header-navbar a::after {
	transform: translate(-18px, -4px);
}

.data-entry-changer, .data-category-changer {
	cursor: pointer;
}

.navbar-link {
	display: inline-block;
	text-align: center;
	width: 100px;
}

.navbar-link:not(.last) {
	border-right: 1px dashed #444;
}

.navbar-link::after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 0px;
	opacity: 0;
	background-color: #DDD;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	transition: opacity 0.5s, margin-top 0.5s;
}

.navbar-selected::after {
	opacity: 1;
	margin-top: -6px;
}

.content-holder {
	width: 1000px;
	height: auto;
	opacity: 1;
}

.content-holder:not(.active-holder) {
	display: none;
	opacity: 0;
}

#big-branding {
	margin-bottom: 50px;
	text-align: center;
	text-shadow: 1px 1px black;
}

#big-icon {
	display: inline-block;
}

#big-icon img {
	height: 300px;
}

#big-title {
	font-size: 80px;
}

#big-subtitle {
	font-size: 20px;
}

#big-branding-background {
	height: 0px;
	position: absolute;
	user-select: none;
	z-index: -1;
}

#big-branding-background::before {
	display: block;
	position: absolute;
	margin-left: -3px;
	margin-top: -3px;
	content: "";
	height: 250px;
	width: 995px;
	background-color: rgba(0, 0, 0, 0.4);
}

#big-branding-background img {
	margin: -3px;
	width: 250px;
}

#big-branding-background img:not(.displayed-image) {
	display: none;
}

.std-button {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background-color: #48ddbc;
	box-shadow: 0px 6px #21a587;
	width: 300px;
	height: 60px;
	color: #444;
	border-radius: 4px;
	transition: box-shadow 0.25s, margin-top 0.25s, margin-bottom 0.25s;
	user-select: none;
	margin: 20px;
	text-shadow: none;
}

.std-button:hover {
	margin-top: 23px;
	margin-bottom: 17px;
	box-shadow: 0px 3px #21a587;
}

.std-button:active {
	margin-top: 26px;
	margin-bottom: 14px;
	box-shadow: 0px 0px #21a587;
}

.button-title {
	padding-top: 10px;
	font-weight: bold;
	font-size: 20px;
}

.button-subtitle {
	font-size: 13px;
}

.button-download {
	background-color: #6441a4;
	color: #ddd;
	box-shadow: 0px 6px #51299a;
}

.button-download:hover {
	box-shadow: 0px 3px #51299a;
}

.button-download:active {
	box-shadow: 0px 0px #51299a;
}

.button-next {
	width: 700px;
	margin-left: calc(50% - 350px);
	height: 40px;
}

.button-next .button-title::after {
	display: inline-block;
	vertical-align: middle;
	content: "⟶";
	color: #21a587;
	margin-left: 16px;
	margin-top: -3px;
}

.button-next .button-title::before {
	display: inline-block;
	vertical-align: middle;
	content: "━";
	color: #21a587;
	margin-right: 15px;
	margin-top: -5px;
}

#social-strip {
	text-align: center;
	margin-bottom: 10px;
}

#social-strip::before, #social-strip::after {
	content: '';
	display: inline-block;
	vertical-align: center;
	width: 6px;
	height: 6px;
	margin-bottom: 3px;
	border-radius: 3px;
	background-color: #999;
}

#social-strip::before {
	margin-right: 30px;
}

#social-strip::after {
	margin-left: 30px;
}

#social-strip img {
	display: inline-block;
	height: 16px;
}

.social-link {
	display: inline-block;
	width: 120px;
	text-align: center;
}

.section-header {
	text-align: center;
	font-size: 25px;
	margin-bottom: 30px;
}

.section-header::before, .section-header::after {
	content: '•';
	margin: 25px;
	color: #999;
}

.main-page-section {
	margin: 30px 0px 30px 0px;
}

.team-holder {
	text-align: center;
}

.team-member {
	display: inline-block;
	width: 300px;
	text-align: center;
}

.team-separator {
	display: inline-block;
	width: 1px;
	height: 150px;
	margin-bottom: 30px;
	background-color: #444;
}

.team-avatar img {
	width: 150px;
	border-radius: 50%;
	padding: 4px;
	border: 1px dashed #444;
	box-shadow: 1px 2px rgba(0, 0, 0, 0.1)
}

.team-name {
	margin-left: 7px;
	margin-top: 10px;
	font-size: 20px;	
}

.team-role {
	font-size: 15px;
}

.spotlight-entry {
	margin-bottom: 20px;
}

.spotlight-right {
	text-align: right;
	margin-top: -250px;
}

.spotlight-image {
	display: inline-block;
	vertical-align: top;
}

.spotlight-image img {
	width: 250px;
	border-radius: 10px;
	padding: 4px;
	border: 1px dashed #444;
	box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}

.spotlight-info {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin: 25px 10px 45px 10px;
}

.spotlight-right .spotlight-info {
	vertical-align: bottom
}

.spotlight-header {
	font-size: 22px;
	padding-bottom: 3px;
	border-bottom: 1px dashed #444;
	margin-bottom: 5px;
}

.spotlight-desc {
	margin: 0px 5px 0px 5px
}

.feature {
	position: relative;
	margin: 0px 15px 20px 15px;
	border-radius: 10px;
	border: 1px dashed #444;
	box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}

.feature-image {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	border-radius: 10px;
	border: 1px dashed #444;
	border-top: 0;
	border-left: 0;

}

.feature-image img {
	width: 260px;
	border-radius: 4px;
}

.feature-info {
	position: relative;
	display: inline-block;
	margin-top: 6px;
	margin-left: 20px;
	width: 660px;
	min-height: 279px;
}

.feature-header {
	font-size: 25px;
	height: 30px;
	margin-left: -21px;
	padding-left: 21px;
	padding-bottom: 4px;
	border-bottom: 1px dashed #444;
}

.feature-title {
	display: inline-block;
	float: left;
}

.feature-title::before, .feature-title::after {
	content: '';
	display: inline-block;
	vertical-align: center;
	width: 6px;
	height: 6px;
	margin-bottom: 5px;
	border-radius: 3px;
	background-color: #999;
}

.feature-title::before {
	margin-right: 10px;
}

.feature-title::after {
	margin-left: 10px;
}

.feature-version {
	display: inline-block;
	float: right;
	margin-right: 10px;
	line-height: 30px;
	font-size: 15px;
	color: #666;
	user-select: none;
}

.feature-expand-button {
	position: absolute;
	height: 30px;
	bottom: 0;
	left: -20px;
	cursor: pointer;
}

.feature-expand-button .button-title {
	margin-top: -3px;
	font-size: 15px;
}

.feature-expand {
	display: none;
	margin-top: -10px;
	overflow-y: hidden;
}

#feature-category-strip {
	text-align: center;
	margin-bottom: 40px;
	line-height: 40px;
}

.feature-category {
	width: 1000px;
	height: auto;
	opacity: 1;
	margin-top: 30px;
	margin-bottom: 50px;
}

.feature-category:not(.active-category) {
	display: none;
	opacity: 0;
}

.category-navbar-link {
	width: 120px;
}

.feature-count {
	text-align: center;
	margin-top: -30px;
	margin-bottom: 30px;
	color: #999;
}